p{
    color: hotpink;
}
#one{
    border:2px solid violet;
    height: 250px;
    width: 200px;
}
.myclass{
    border:2px solid tomato;
    height: 250px;
    width: 200px;
}
.fontclass{
    color:darkgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
body{
    background-color: lightblue;
}

.testborder{
    border-style: outset;
    border-color: rebeccapurple;
    border-radius: 5px;
    border-width: 4px;
}

.testpadding{
    padding: 25px 50px 75px 100px;
    max-width: 500px;
}