<div class="container">
    <h3><u>Enter Animal Details Below to add to DB</u></h3>
    <br/>
    <input class="form-control" type="text" [(ngModel)]="animal.name" placeholder="Enter Animal Name"/>
    <input class="form-control" type="text" [(ngModel)]="animal.category" placeholder="Enter Animal Category"/>
    <input class="form-control" type="text" [(ngModel)]="animal.age" placeholder="Enter Animal Age"/>
    <input class="form-control" type="url" [(ngModel)]="animal.avatar" placeholder="Paste Image URL of Animal"/>
    <button class="btn btn-primary" type="button" (click)="createAnimal()">Create Animal</button>
</div>
